unpackaged/main/default/flows/Account_Radius_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_Accounts_within_Distance</name>
        <label>Find Accounts within Distance</label>
        <locationX>1096</locationX>
        <locationY>290</locationY>
        <actionName>AccountLocator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Uncheck_all_checked</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>latitude</name>
            <value>
                <elementReference>Latitude2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>longitude</name>
            <value>
                <elementReference>Longitude2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>miles</name>
            <value>
                <elementReference>Radius_in_Miles</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_all_found_records_to_checked</name>
        <label>Assign all found records to checked</label>
        <locationX>1364</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>loop_through_all_found_records.Within_Event_Radius__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllFoundAccountsChecked</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindallCheckedRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_all_found_records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account Radius Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Radius Test Record Update Versions</label>
    <loops>
        <name>loop_through_all_found_records</name>
        <label>loop through all found records</label>
        <locationX>1088</locationX>
        <locationY>617</locationY>
        <collectionReference>Find_Accounts_within_Distance</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_all_found_records_to_checked</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_all_newly_found_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>FindallCheckedRecords</name>
        <label>Find all Checked Records</label>
        <locationX>1547</locationX>
        <locationY>564</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Within_Event_Radius__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Within_Event_Radius__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_all_newly_found_records</name>
        <label>Check all newly found records</label>
        <locationX>1086</locationX>
        <locationY>797</locationY>
        <connector>
            <targetReference>Completion_Screen</targetReference>
        </connector>
        <inputReference>FindallCheckedRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Uncheck_all_checked</name>
        <label>Uncheck all checked</label>
        <locationX>1095</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>loop_through_all_found_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Within_Event_Radius__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Within_Event_Radius__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Completion_Screen</name>
        <label>Completion Screen</label>
        <locationX>1089</locationX>
        <locationY>968</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Done</name>
            <fieldText>&lt;p&gt;This is done&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Find_radius</name>
        <label>Find radius</label>
        <locationX>1096</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Accounts_within_Distance</targetReference>
        </connector>
        <fields>
            <name>Latitude2</name>
            <dataType>Number</dataType>
            <fieldText>Latitude</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>Longitude2</name>
            <dataType>Number</dataType>
            <fieldText>Longitude</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>Radius_in_Miles</name>
            <dataType>Number</dataType>
            <fieldText>Radius in Miles</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Find_radius</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllFoundAccountsChecked</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UncheckedRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
