unpackaged/main/default/flows/Case_Notification_to_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Notification_to_owner</name>
        <label>Case Notification to owner</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>Case.New_Case_Notification_to_Case_Owner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>New_Case_Notification_to_guest</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Case_Notification_to_guest</name>
        <label>New Case Notification to guest</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>Case.New_Case_Notification_to_Guest</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <description>Sends an email to the JH Staff member who will be handling the case.</description>
    <environments>Default</environments>
    <interviewLabel>Case Notification to Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Notification to Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case_Owner_to_JH_Staff</name>
        <label>Update Case Owner to JH Staff</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Case_Notification_to_owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054x000007EM8K</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Case_Owner_to_JH_Staff</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
