unpackaged/main/default/flows/Contact_Radius_Create_Radius_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_Nearby_Contacts</name>
        <label>Find Nearby Contacts</label>
        <locationX>943</locationX>
        <locationY>340</locationY>
        <actionName>ContactLocator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Completion_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>latitude</name>
            <value>
                <elementReference>Latitude2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>longitude</name>
            <value>
                <elementReference>Longitude2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>miles</name>
            <value>
                <elementReference>Radius_in_Miles</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Record_to_Collection</name>
        <label>Add Record to Collection</label>
        <locationX>1045</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>RadiusRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>JunctionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_junction_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_values_for_juction_record</name>
        <label>Assign new values for juction record</label>
        <locationX>1041</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>JunctionRecord.Contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>create_junction_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JunctionRecord.Miles_from_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Radius_in_Miles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JunctionRecord.Location_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JunctionRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JunctionRecordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>JunctionRecordName</name>
        <dataType>String</dataType>
        <expression>{!Location_Name}&amp;&quot; &quot;&amp;TExt({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>Contact Radius Create Radius Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Radius Create Radius Record</label>
    <loops>
        <name>create_junction_record</name>
        <label>create junction record</label>
        <locationX>803</locationX>
        <locationY>669</locationY>
        <collectionReference>Find_Nearby_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_new_values_for_juction_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Completion_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Completion_Message</name>
        <label>Completion Message</label>
        <locationX>756</locationX>
        <locationY>941</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlowCompleted</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Completion_Screen</name>
        <label>Completion Screen</label>
        <locationX>740</locationX>
        <locationY>492</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_junction_record</targetReference>
        </connector>
        <fields>
            <name>Done</name>
            <fieldText>&lt;p&gt;This is done&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FoundContacts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Found Contacts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Find_Nearby_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-96ec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Find_radius</name>
        <label>Find radius</label>
        <locationX>1096</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Nearby_Contacts</targetReference>
        </connector>
        <fields>
            <name>Latitude2</name>
            <dataType>Number</dataType>
            <fieldText>Latitude</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>Longitude2</name>
            <dataType>Number</dataType>
            <fieldText>Longitude</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>Radius_in_Miles</name>
            <dataType>Number</dataType>
            <fieldText>Radius in Miles</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Location_Name</name>
            <dataType>String</dataType>
            <fieldText>Location Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Find_radius</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllFoundAccountsChecked</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>JunctionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Radiuses__c</objectType>
    </variables>
    <variables>
        <name>RadiusRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Radiuses__c</objectType>
    </variables>
    <variables>
        <name>testlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UncheckedRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
